<?xml version="1.0"?>
<config>
    <modules>
	    	<Medma_Productimport>
            		<version>0.1.2</version>
    		</Medma_Productimport>
    </modules>
    <frontend>
           <routers>
	  	<productimport>
                <use>standard</use>
                <args>
			<module>Medma_Productimport</module>
			<frontName>productimport</frontName>
                </args>
	 	</productimport>
          </routers>
          <layout>
            	<updates>
		    <productimport>
			    <file>productimport.xml</file>
	    	    </productimport>
            	</updates>
        </layout>
    </frontend>
    <admin>
        <routers>
		<productimport>
				<use>admin</use>
				<args>
					<module>Medma_Productimport</module>
					<frontName>productimport</frontName>
				</args>
		</productimport>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<productimport module="productimport">
				<title>Product Import</title>
				<sort_order>71</sort_order>
				<children>
					<items module="productimport">
						<title>Check Import</title>
						<sort_order>0</sort_order>
						<action>productimport/adminhtml_productimport/productimport</action>
					</items>
				</children>
			</productimport>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Product_Import>
							<title>Check Import</title>
							<sort_order>10</sort_order>
						</Product_Import>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productimport>
					<file>productimport.xml</file>
				</productimport>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <resources>
		<productimport_setup>
                <setup>
			<module>Medma_Productimport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
	</productimport_setup>
	<productimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
	</productimport_write>
	<productimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
	</productimport_read>
        </resources> 
		<helpers>
		<productimport>
		    <class>Medma_Productimport_Helper</class>
	    </productimport>
        </helpers>  
    </global>
</config>
